body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.formGroup input[type="text"],
.formGroup textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formGroup textarea {
    height: 200px;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-enregistrer {
    background-color: #98BF45;
    color: #fff;
}

.btn-enregistrer:hover {
    background-color: #88A649;
}

.btn-annuler {
    background-color: #ff6666;
    color: #fff;
}

.btn-annuler:hover {
    background-color: #cc5252;
}
